@media (min-width: 1000px) {
  .tdbox {
    width: 120px;
  }

  .tdboxmail {
    width: 220px;
  }
  .tdboxmessage {
    width: 200px;
  }
  .bookingswrap {
    display: flex;
    flex-wrap: wrap;
  }
}

@media (max-width: 990px) {
  .bookingswrap {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    background-color: rgb(255, 255, 255);
    margin-bottom: 30px;
  }
  .tdbox {
    width: 100%;
  }
  .tdboxmail {
    width: 100%;
  }
}
