.formwrap {
  margin-top: 40px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-self: center;
}
h3 {
  text-align: center;
}

.form {
  width: 600px;
}
.button {
  background-color: #05c5ff;
  border-radius: 5px;
  display: inline-block;
  cursor: pointer;
  color: rgb(0, 0, 0);
  font-family: Arial;
  font-size: 15px;
  padding: 3px 8px;
  text-decoration: none;
  border: none;
}

.button:hover {
  background-color: #83e2ff;
}
.button:active {
  background-color: #004b61;
  color: white;
  position: relative;
  top: 1px;
}

@media (max-width: 990px) {
  .form {
    max-width: 300px;
  }
}
