.placescard {
  text-align: center;
  max-width: 300px;
  min-width: 200;
  margin: 10px;
}

.deckwrap {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

@media (max-width: 880px) {
  .deckwrap {
    display: flex;
    flex-wrap: wrap;
  }
  .placescard {
    max-width: 100%;
  }
}
